<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.mapper.VideoMapper">
    <!-- 根据随机类型查询视频数据 -->
    <select id="getVideoByDynamic" resultType="com.dragon.vo.VideoVo" parameterType="java.util.Map">
        select * from video
        <where>
            <if test="categoryName != null">
                and categoryName = #{categoryName}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="isDeleted != null">
                and isDeleted = #{is_deleted}
            </if>
        </where>
        order by year limit 0,5
    </select>
</mapper>
