<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.mapper.VideoMapper">
    <!-- 根据随机类型查询视频数据 -->
    <select id="getVideoByDynamic" resultType="com.dragon.vo.VideoReRmVo" parameterType="java.util.Map">
        select * from video
        <where>
            <if test="categoryName != null">
                and category_name = #{categoryName}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="type != null">
                and `type` = #{type}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
        order by year limit 0,5
    </select>

    <!-- 根据用户标签查询视频 -->
    <select id="getVideoByUserTag" parameterType="java.util.Map" resultType="com.dragon.entity.Video">
        select * from video v join user u on u.id = v.user_id
        <where>
            <if test="soleTag != null">
                and u.sole_tag = #{soleTag}
            </if>
            <if test="categoryName != null">
                and v.category_name = #{categoryName}
            </if>
        </where>
        limit #{size}
    </select>

    <!-- 动态条件分页查询 - 本周热播/历史热播 -->
    <select id="pageWeekList" parameterType="java.util.Map" resultType="com.dragon.vo.VideoReRmVo">
        select * from video v join screen_flicker.user_video uv on v.id = uv.video_id
        <where>
            <if test = "vp.title != null and vp.title != ''">
                and title like concat('%',#{vp.title},'%')
            </if>
            <if test = "vp.categoryName != null and vp.categoryName != ''">
                and category_name like concat('%',#{vp.categoryName},'%')
            </if>
            <if test = "vp.price != null and vp.price != ''">
                and price like concat('%',#{vp.price},'%')
            </if>
            <if test = "vp.type != null and vp.type != ''">
                and type like concat('%',#{vp.type},'%')
            </if>
            <if test = "vp.year != null and vp.year != ''">
                and `year` like concat('%',#{vp.year},'%')
            </if>
            <if test = "vp.region != null and vp.region != ''">
                and region like concat('%',#{vp.region},'%')
            </if>
            <if test="begin != null">
                and play_time &gt; #{begin}
            </if>
            <if test="end != null">
                and play_time &lt; #{end}
            </if>
        </where>
        order by play_count desc
    </select>

    <!-- 动态条件分页查询 - 最新上线 -->
    <select id="pageNewList" parameterType="java.util.Map" resultType="com.dragon.vo.VideoReRmVo">
        select * from video
        <where>
            <if test = "vp.title != null and vp.title != ''">
                and title like concat('%',#{vp.title},'%')
            </if>
            <if test = "vp.categoryName != null and vp.categoryName != ''">
                and category_name like concat('%',#{vp.categoryName},'%')
            </if>
            <if test = "vp.price != null and vp.price != ''">
                and price like concat('%',#{vp.price},'%')
            </if>
            <if test = "vp.type != null and vp.type != ''">
                and type like concat('%',#{vp.type},'%')
            </if>
            <if test = "vp.year != null and vp.year != ''">
                and `year` like concat('%',#{vp.year},'%')
            </if>
            <if test = "vp.region != null and vp.region != ''">
                and region like concat('%',#{vp.region},'%')
            </if>
        </where>
        order by create_time desc
    </select>

    <!-- 动态条件分页查询 - 最受欢迎 -->
    <select id="pageRatingList" parameterType="java.util.Map" resultType="com.dragon.vo.VideoReRmVo">
        select * from video join screen_flicker.video_rate vr on video.id = vr.video_id
        <where>
            <if test = "vp.title != null and vp.title != ''">
                and title like concat('%',#{vp.title},'%')
            </if>
            <if test = "vp.categoryName != null and vp.categoryName != ''">
                and category_name like concat('%',#{vp.categoryName},'%')
            </if>
            <if test = "vp.price != null and vp.price != ''">
                and price like concat('%',#{vp.price},'%')
            </if>
            <if test = "vp.type != null and vp.type != ''">
                and type like concat('%',#{vp.type},'%')
            </if>
            <if test = "vp.year != null and vp.year != ''">
                and `year` like concat('%',#{vp.year},'%')
            </if>
            <if test = "vp.region != null and vp.region != ''">
                and region like concat('%',#{vp.region},'%')
            </if>
        </where>
        order by rating desc
    </select>

    <!-- 分页查询 - 历史观看 -->
    <select id="historyView" parameterType="java.util.Map" resultType="com.dragon.vo.VideoReRmVo">
        select * from video v join screen_flicker.user_video uv on v.id = uv.video_id
        where uv.user_id = #{id} and uv.play_time is not null
        order by play_count
    </select>
</mapper>


